@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600');
 * {
     font-family: 'nunito';
     font-weight: 300;
}
 #map {
     width: 95%;
     margin: 0 auto;
     height: 70vh;
}
 html, body {
     height: 80vh;
     margin: 0;
     padding: 0;
}
 h1, h2 {
     text-align: center;
}
 h1{
     font-size: 30px;
}
 h2 {
     font-size: 20px;
}
 footer {
     display: none;
}

 .gm-style-iw {
      text-align: center;
    }



/*-----IPAD-----*/


 @media screen and (min-width: 758px) {
     #map {
         width: 95%;
         height: 80vh;
    }
     h1{
         font-size: 40px;
    }
     h2 {
         font-size: 25px;
    }
}



/*-----DESKTOP SMALL-----*/


 @media only screen and (min-width: 1024px) {
     #map {
         width: 95%;
         height: 80vh;
    }
     h1{
         font-size: 45px;
    }
     h2 {
         font-size: 30px;
    }
}



/*-----DESKTOP LARGE-----*/



 @media only screen and (min-width: 1025px) {
     #map {
         width: 99%;
         height: 65vh;
    }
     footer {
         display: block;
         font-size: 10px;
         color: #969494;
         text-align: center;
    }
}
 